<div class ="oya">
   
    <form action = "/home" method="POST" class = "land  rounded">
        <input type="text" placeholder="Room Number (4 digits)" id="js-room-id" name = "roomname"  class ="element" autocomplete="off">
        <input type="text" placeholder="Your Name" id="js-your-name" name = "yourname"  class ="element" autocomplete="off">
        <button id="js-join-trigger" class = "btn btn-outline-primary element">Join</button>
    </form>  
</div>
