<div class ="oya">
   
    <form action = "/home" method="POST" class = "land  rounded">
        <input type="text" placeholder="Room Number" id="js-room-id" name = "roomname"  class ="element">
        <input type="text" placeholder="Your Name" id="js-your-name" name = "yourname"  class ="element">
        <button id="js-join-trigger" class = "btn btn-outline-primary element">Join</button>
    </form>
    
</div>
